# Elasticsearch 
ELASTIC_DOMAIN_ENDPOINT=https://your-elasticsearch-domain-endpoint.region.on.aws
ELASTIC_USERNAME=your_username
ELASTIC_PASSWORD=your_password

# AWS 
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY